<?xml version="1.0"?>

<model>
  <name>x500 with ArduPilot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name> Unknown</name>
    <email>null</email>
  </author> 


  <description>
    Starting with x500_base
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://x500_base</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
